*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainform{
    display: flex;
    gap: 20%;
    width: 80%;

}
.sub{
    display: block;
    margin: auto;
    width: 50%;
}
/* form{

    border: 2px solid black;
    border-radius: 2%;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;    
} */
